@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  border-bottom: 1px solid rgb(60, 60, 60);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  height: 60px;
}

.App-header h3 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.logo {
  width: 80px;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5em #e0d0af);
}

.title {
  font-family: 'Playfair Display', serif;
  color: rgb(239, 226, 200);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px; /* Adjust this value based on your header height */
}
